#newsletter{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $primary-color;
  @include flex();
  @include flex-align(center);

  #newsletter-signup-form{
    width: rem-calc(300);
    padding: rem-calc(10) 0;
    @include flex();
    input{
      background-color: darken($primary-color, 30%);
      margin-bottom: 0;
      margin-right: rem-calc(15);
      border: 0;
      &:last-child{
        margin-right: 0;
      }
    }
  }
}
