.section-landing{
  @include flex();
  @include flex-align(center, middle);
  flex-direction: column;
  height: 100vh;
  width: 100%;
  color: $white;
}

// watch now
#player-watch{
  margin-top: rem-calc(25);
  .fa-play-circle{
    position: relative;
    bottom: -2px;
  }
}
